@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>
    Ramon Nunes - 17 anos
    <br />
    <br />
    📧 Email: nunesramon2007@email.com
    <br />
    📞 Telefone: (51) 99588-7084
    <br />
    📍 Endereço: Rua das Flores, 123, Vera Cruz - RS
    <br />
    <br />
    Perfil Profissional
    <br />
    <br />
    Sou um desenvolvedor de software com experiência em desenvolvimento de aplicações web e mobile, utilizando linguagens como Python, C# e JavaScript. Possuo habilidades em resolução de problemas, trabalho em equipe e organização. Busco constantemente aprimorar meus conhecimentos em tecnologias modernas e contribuir para projetos desafiadores e inovadores.
    <br />
    <br />
    Formação Acadêmica
    <br />
    <br />
    Curso Técnico em Informática – Escola Senac de Santa Cruz (2024)
    <br />
    Ensino Médio – Colégio Anchieta Estadual Vera Cruz (2013 - 2024)
</p>
